<div class="container customCls" ng-controller="HeaderCtrl">
	<div class="panel panelHeight">
    	<div class="panel-body">

      		<legend>Welcome to Dashboard</legend>
      
      		<div class="form-group">
      			<label>Last successfull login - {{currentUser.last_login | date:'MMM dd, yyyy - HH:mm:ss'}} Hrs</label>
			</div>
			<div class="form-group">
      			<label>Total patient's - 100</label>
			</div>

            <div class="right-table-list">
                <div style="float:left;width:350px;">
                    <label>Today appointment's</label>
                    <div style="float:left;">
                        <div style="float: left; width: 350px; border: 1px solid rgb(204, 204, 204); height: 148px; padding: 5px;margin-bottom:10px;">
                            <div style="float:left;width:90px;height:88px;">
                                <img src="../img/notepad.png" />
                            </div>
                            <div style="float:right;width:228px;margin-left:20px;">
                                <span style="float:left; width:180px;">Patient - Ben stoke</span>
                                <span style="float:left; width:180px;">Doctor - Lisa stark</span>
                                <span style="float:left; width:180px;">Speciality - Back pain</span>
                                <span style="float:left; width:180px;">Date - May 05, 2017</span>
                                <span style="float:left; width:180px;">Start time - 12.00 pm</span>
                                <span style="float:left; width:180px;">End time - 01:pm</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="float:left;width:350px;margin-left:250px;">
                    <label>Upcoming appointment's</label>
                    <div style="float:left;">
                        <div style="float: left; width: 350px; border: 1px solid rgb(204, 204, 204); height: 148px; padding: 5px;margin-bottom:10px;">
                            <div style="float:left;width:90px;height:88px;">
                                <img src="../img/notepad.png" />
                            </div>
                            <div style="float:right;width:228px;margin-left:20px;">
                                <span style="float:left; width:180px;">Patient - Ben stoke</span>
                                <span style="float:left; width:180px;">Doctor - Lisa stark</span>
                                <span style="float:left; width:180px;">Speciality - Back pain</span>
                                <span style="float:left; width:180px;">Date - May 05, 2017</span>
                                <span style="float:left; width:180px;">Start time - 12.00 pm</span>
                                <span style="float:left; width:180px;">End time - 01:pm</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
    	</div>
  	</div>
</div>